<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301523400077-scher8udmn34mnjsog14j934fdj16mts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301523400077-scher8udmn34mnjsog14j934fdj16mts</string>
	<key>API_KEY</key>
	<string>AIzaSyAWqaXI-GSEnLw6W4Ssde0tScxqHjbtdzY</string>
	<key>GCM_SENDER_ID</key>
	<string>301523400077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ommy3d.ios</string>
	<key>PROJECT_ID</key>
	<string>voir-cam</string>
	<key>STORAGE_BUCKET</key>
	<string>voir-cam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301523400077:ios:cb500b897d2d0874</string>
	<key>DATABASE_URL</key>
	<string>https://voir-cam.firebaseio.com</string>
</dict>
</plist>